.box-editar-orden{
    position: relative;
	width: 610px;
	height: 790px;
	background: #45f3ff;
	border-radius: 10px;
	display: inline-block;

}
.columnas {
	display: flex;
	
}
.desplegable{
	padding-top: 4%;
	position: relative;
	height: 40px;
	width: 110px;
	border-radius: 7px;
}